body{
		padding: 0px;
		margin: 0px;
		font-family: Trebuchet MS;
		color:#333333;
	}
	#main{
		background-color: #EEEEEE;
		/* padding: 26px 9px; */
		border-radius: 7px;
		margin: 26px 9px;
	}
	#title{
		text-align: center;
		padding-top: 30px;
	}
	#title_caption{
		text-align: center;
		padding: 5px 0px;
	}
	#img-div{
		background-color: white;
		width: 98.5%;
		margin: auto;
	}
	#image {
		width: 100%;
		height: auto;
		max-width: 625px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		}
	#img-caption{
		text-align: center;
		padding-bottom: 15px;
	}
	#tributeDetails{
		width: 45%;
		margin: auto;
		padding-top: 15px;
	}
	#tributetitle{
		margin-left: 30px;
	}
	#tribute-info{}
	#tribute-info li{
		padding: 5px;
	}
	#footer{
		text-align: center;
		padding: 0px 65px;
	}
	#external_link{
		font-style: bold;
		font-size:20px;
		padding-bottom:40px;
	}
	@media(max-width:300px){
		#tributeDetails{
			width: 95%;
		}
	}